.header {
  padding-top: 1rem;
  background-color: #fefae0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.logo__div {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}

.icon:hover {
  transition: transform 400ms;
  transform: scale(1.1) rotate(10deg);
}

.login__button {
  background: #dda15e;
  color: var(--secondary-white);
  border: none;
  font-family: inherit;
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
}

.logged__in__icons {
  display: flex;
  align-items: center;
  margin-right: -6rem;
}

.logged__in__icons > button {
  margin-left: 1rem;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) and (orientation: portrait) {
  .login__button {
    display: none;
  }
  .navbar {
    display: none;
  }

  .logo__div {
    display: flex;
    justify-content: center;
  }
}
