.product__card {
  width: 14rem;
  border-radius: var(--img-radius);
  box-shadow: 2px 2px 8px #eee7e7,-2px -2px 4px #eee7e7;
  margin: 0 1rem 0 0;
}

.product__card:hover {
  cursor: pointer;
}

.product__card:hover .product__details p:first-child {
  text-decoration: underline;
}

.product__image {
  margin-bottom: 0;
  padding-bottom: 0;
  height: 12rem;
 position: relative;
}

.product__image img {
  width: 100%;
  height: 12rem;
  padding: 0;
  margin: 0;
  border-top-left-radius: var(--img-radius);
  border-top-right-radius: var(--img-radius);
}

.product__details {
  text-align: center;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  background-color: #f8f6ec;
  border-bottom-left-radius: var(--img-radius);
  border-bottom-right-radius: var(--img-radius);
}

.product__card p:first-child {
  padding-top: 1rem;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 500;
}

.product__card p:nth-child(2) {
  font-size: .8rem;
  font-weight: 400;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.sold__out__indicator {
  position: absolute;
  bottom: 5%;
  left: 1rem;
  background-color: #DDA15E;
  border-radius: 1rem;
  width: 5rem;
  height: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}