.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 8rem);
  width: 100%;
}

.intro__card {
  height: 30rem;
  width: 30rem;
  background-image: var(--linear-grad);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  z-index: 1;
}

.intro__card div {
  color: #303030;
  max-width: 60%;
}

.intro__card h2 {
  line-height: 4rem;
  font-size: 2.5rem;
}

.intro__card p {
  color: #5a5959;
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.intro__card button {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: #cdf8ba;
  background-color: #303030;
  cursor: pointer;
}

.intro__image {
  width: 45%;
  height: 80%;
  position: relative;
  transform: translateX(-5%);
}

.image {
  border-radius: 5%;
  opacity: 0.8;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) and (orientation: portrait) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro__card {
    width: 20rem;
    margin: 2rem 0;
  }

  .intro__card button {
    margin-bottom: 1rem;
  }

  .intro__image {
    width: 70%;
  }
}