.category__navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 20rem;
  margin-bottom: 4rem;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) and (orientation: portrait) {
  .category__navigation {
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}